form {
    background-color: #0f1922;
    padding: 2rem;
    border-radius: 1rem;
  }
  
  form label {
    font-size: 1.2rem;
  }
  
  form input[type="text"],
  form input[type="email"],
  form textarea {
    /*background-color: transparent;*/
    border: none;
    border-bottom: 2px solid #fffbf5;
    border-radius: 1;
    color: #000000;
  }
  
  form input[type="text"]:focus,
  form input[type="email"]:focus,
  form textarea:focus {
    border-color: #fd4556;
    box-shadow: none;
  }

  h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #fd4556 !important;
  }
  
  p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #fffbf5;
  }
  
  .btn-primary {
    background-color: #fd4556;
    border-color: #fd4556;
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  .btn-primary:hover {
    background-color: #fffbf5;
    color: #fd4556;
  }
  
  .btn-primary:focus {
    box-shadow: none;
  }
  
  .text-white {
    color: #fffbf5;
  }
  

  .loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
  }
  
  .loading-spinner .spinner-border {
    width: 3rem;
    height: 3rem;
    margin-bottom: 1rem;
  }
  
  .loading-spinner p {
    font-size: 1.2rem;
    font-weight: bold;
  }

/* Existing styles */

.faq-container{
  margin-top: 3rem !important;
}
.accordion-item {
  border: none !important;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}


.accordion-button {
  font-size: 1.2rem;
  color: #fffbf5;
  border: none;
  width: 100%;
  text-align: left;
  background-color: #0f1922;
  transition: border-color 0.15s ease-in-out;
}

.accordion-button:hover {
  border-color: #fd4556;
}

.accordion-button:not(.collapsed) {
  color: #fd4556;
  border-color: #fd4556;
}

.accordion-body {
  font-size: 1.2rem;
  color: #0f1922;
  line-height: 1.6;
  margin-top: 10px;

}

h1.accordion-header {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #fd4556 !important;
}
