w

<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h1 class="text-primary">About Us</h1>
      <p class="lead" style="text-align: justify;">Welcome to Playmate, the social network for gamers. We are a team of passionate gamers, especially
        about Valorant, and we wanted to create a platform that allows gamers to connect and find other players to play
        with and make friends.</p>
      <p class="lead" style="text-align: justify;">Playmate is an easy-to-use platform that allows you to connect with other Valorant players from
        around the world. Simply create a profile, select the characters and roles you like the most, and Playmate will
        show you profiles of other players you are compatible with. You can add them as friends and start playing
        together.</p>
      <p class="lead" style="text-align: justify;">We believe that video games are an incredible way to connect with people from all over the world
        and we want to help players find others who share their passion. At Playmate, our mission is to create a
        community of gamers where everyone feels welcome and can enjoy the game to the fullest.</p>
      <p class="lead" style="text-align: justify;">Join Playmate today and find your perfect Valorant teammate!</p>
    </div>
  </div>
</div>