<div class="row">
  <div class="col-3">
    <div class="card">
      <div class="card-header">
        <h4>Friends</h4>
      </div>
      <div class="card-body">
        <div class="list-group">
          <a *ngFor="let friend of friends" class="list-group-item list-group-item-action" (click)="onFriendClick(friend)">
            {{friend.name}}
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-9">
    <div class="card">
      <div class="card-header">
        <h4>Chat</h4>
      </div>
      <div class="card-body">
        <div *ngIf="selectedFriend" class="chat-container">
          <div class="message-thread">
            <div *ngFor="let message of messageThread" [ngClass]="{ 'incoming': message.incoming, 'outgoing': !message.incoming }">
              <div class="message">{{message.content}}</div>
            </div>
          </div>

          <div class="message-form">
            <form>
              <input type="text" class="form-control" [(ngModel)]="newMessageContent" placeholder="Type your message...">
              <button type="submit" class="btn btn-primary" (click)="sendMessage()">Send</button>
            </form>
          </div>
        </div>
        <div *ngIf="!selectedFriend" class="no-chat-selected">
          Select a friend to start a chat.
        </div>
      </div>
    </div>
  </div>
</div>
