<div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="friend-container">
          <h2>Lista de amigos</h2>
          <ul class="friend-list">
            <li class="active"><a href="#">Amigo 1</a></li>
            <li><a href="#">Amigo 2</a></li>
            <li><a href="#">Amigo 3</a></li>
            <li><a href="#">Amigo 4</a></li>
            <li><a href="#">Amigo 5</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-8">
        <div class="chat-container">
          <h2>Chat</h2>
          <ul class="chat">
            <li>
              <img src="https://via.placeholder.com/40" alt="Avatar" />
              <div class="message incoming">
                <p>Hola, ¿cómo estás?</p>
                <span class="time">10:00 AM</span>
              </div>
            </li>
            <li>
              <div class="message outgoing">
                <p>Estoy bien, gracias. ¿Y tú?</p>
                <span class="time">10:01 AM</span>
              </div>
              <img src="https://via.placeholder.com/40" alt="Avatar" />
            </li>
            <li>
              <img src="https://via.placeholder.com/40" alt="Avatar" />
              <div class="message incoming">
                <p>Estoy bien también. Gracias.</p>
                <span class="time">10:02 AM</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  