.password-toggle {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}

.password-toggle:focus {
  box-shadow: none;
}

.password-toggle .bi {
  color: #fd4556;
  font-size: 1.5rem;
 
}

.character-image-button {
  background-color: transparent;
  border: none;
  padding: 0.15rem;
}

.character-image-button.selected {
  box-shadow: inset 0 0 0 2px #FFC107;
}

.character-image-button:hover {
  background-color: #fd4556;
}

.character-image {
  width: 70px;
  height: 70px;
}






/*-----*/

form {
  background-color: #0f1922;
  padding: 2rem;
  border-radius: 1rem;
}

form label {
  font-size: 1.2rem;
}

form input[type="text"],
form input[type="email"],
form textarea {
  /*background-color: transparent;*/
  border: none;
  border-bottom: 2px solid #fffbf5;
  border-radius: 1;
  color: #000000;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form textarea:focus {
  border-color: #fd4556;
  box-shadow: none;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #fd4556 !important;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #fffbf5;
}
.col-9 > span {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #fffbf5;
}

label {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 5px;
  margin-top: 15px;
  color: #fffbf5;
}

.btn-primary {
  background-color: #fd4556;
  border-color: #fd4556;
  font-size: 1.2rem;
  font-weight: 500;
}

.btn-secondary {
  /*background-color: #fd4556;
  border-color: #fd4556;*/
  font-size: 1.2rem;
  font-weight: 500;
}

.btn-primary:hover {
  background-color: #fffbf5;
  color: #fd4556;
}

.btn-secondary:hover {
  background-color: #fffbf5;
  color: grey;
}

.btn-primary:focus {
  box-shadow: none;
}

.text-white {
  color: #fffbf5;
}

.radioBox {
  border: 1px solid #fffbf5;
  border-radius: 0.25rem;
  margin-left: 0.150rem ;
  margin-right: 0.150rem ;
  padding-bottom: 0.350rem ;
}

.small-icon {
  max-width: 50px;
}
