.loading-spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-spinner .spinner-border {
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
}

.loading-spinner p {
  font-size: 1.5rem;
  font-weight: bold;
}




.card-container {
  margin-right: 10px;
  margin-left: 10px;
}

.card {
  background-color: #0F1922;
  color: #FFFBF5;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 4px rgba(255,255,255,0.9); /* sombra roja */
  width: 18rem;
  margin: 1rem;
  transition: all 0.2s ease-in-out; /* Transición suave al cambiar el borde */
}

.card:hover {
  box-shadow: 0px 0px 0px 4px rgba(253,69,86,0.9); /* sombra roja */
  transform: scale(1.01);
}

.card-img-top {
  background-image: url('../../images/example.jpg');
  height: 10rem;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  background-size: cover;
}

.card-body {
  text-align: left;
  padding-bottom: 0; /* Padding inferior de 0.5rem */
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #FD4556;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.btn {
  font-size: 1rem;
  color: #FFFBF5;
  background-color: #FD4556;
  border: none;
  border-radius: 4px;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: transparent;
  color: #FD4556;
  cursor: pointer;
}

/* Fondo de las rows */
.card-body>.row {
  background-color: #0c141b;
  padding: 10px;
  margin: 0 -10px; /* Eliminar el espacio horizontal adicional */
  margin-bottom: 10px; /* Margen inferior de 20px */
  border-radius: 10px; /* Esquinas redondeadas de 10px */
}

