<div class="loading-spinner" *ngIf="users.length === 0">
    <div class="spinner-border text-danger" role="status">
        <span class="sr-only"></span>
    </div>
    <p style="color: #FFFBF5">Loading users...</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card-deck">
                <div class="row">
                    <div class="col-md-3" *ngFor="let user of users">
                        <div class="card">
                            <img src="../../images/example.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="row">
                                    <div class="f32 col-md-3"><span
                                            class="col-md-3 flag {{ user.nationality | lowercase }}"></span></div>
                                    <h5 class="card-title col-md-6">{{ user.nickname }}</h5>
                                    <img class="col-md-3" [src]="user.idRank.imgRank" alt="{{ user.idRank.gameRank }}"
                                        width="1" height="40">
                                </div>
                                <div class="row">
                                    <img class="col-md-3" [src]="user.idFirstCharacter.imgCharacter"
                                        alt="Character image" width="40" height="40">
                                    <img class="col-md-3" [src]="user.idSecondCharacter.imgCharacter"
                                        alt="Character image" width="40" height="40">
                                    <img class="col-md-3" [src]="user.idThirdCharacter.imgCharacter"
                                        alt="Character image" width="40" height="40">
                                </div>
                                <div class="row">
                                    <p><b>Roles:</b> {{ user.idSrole.srole }}, {{ user.idTrole.trole }}</p>

                                    <p><b>Ambition:</b> {{ user.idAmbition.ambition }}</p>

                                    <p><b>Availability:</b> {{ user.idAvailability.availability }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>