<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Privacy Policy</h2>
            <p>We at Playmate understand that your privacy is important to you. This Privacy Policy outlines the types
                of personal information we receive and collect when you use our website, as well as some of the steps we
                take to safeguard that information. We hope this will help you make an informed decision about sharing
                personal information with us.</p>

            <h5>Personal Information Collection</h5>
            <p>When you visit our website, we may collect the following types of personal information:</p>
            <ul>
                <li>Your name, email address, and other contact details when you subscribe to our newsletter or fill out
                    a contact form</li>
                <li>Your IP address and browser information when you visit our website</li>
            </ul>

            <h5>Use of Personal Information</h5>
            <p>We use the personal information we collect to:</p>
            <ul>
                <li>Provide you with the services and products you have requested</li>
                <li>Send you promotional emails about new products, special offers, or other information which we think
                    you may find interesting using the email address you have provided</li>
                <li>Improve our website and products through statistical analysis</li>
            </ul>

            <h5>Security of Personal Information</h5>
            <p>We are committed to ensuring that your personal information is secure. In order to prevent unauthorized
                access or disclosure, we have put in place suitable physical, electronic, and managerial procedures to
                safeguard and secure the information we collect online.</p>
        </div>
    </div>
</div>